// Created by asolovyev on 02/11/16.

// TOP
header.header--bob
    .header__picture
    .container
        .header__body
            .header__title
                h1
                    span Лучшие средства
            .header__subtitle
                p
                    span Экспертная премия в области красоты Best of beauty
            .sticker--bob-2016
